{% from "components/profile_pic.html" import profile_pic %}
<div class="d-flex flex-row justify-content-between align-items-center border rounded w-100 p-2 mb-2">
  <div class="d-flex flex-row align-items-center gap-2">
    {{ profile_pic(
      user=user,
      class_profile="wh-32 amigo-lista-profile-icon main-avatar-img"
    ) }}
    <a href="{{ url_for('usuario_blueprint.ver_perfil', username=user.username) }}">
    </a>

    <p class="m-0"> {{ user.nombre }} </p>
  </div>

  <div class="d-flex gap-2">
      <a href="{{ url_for("usuario_blueprint.ver_perfil", username=user.username) }}" class="btn btn-secondary" role="button">{{_("Ver perfil")}}
      </a>
  </div>

</div>
