{#
Badge que muestra info breve de una persona
Contexto requerido
- User: User model instance
#}

{% from "components/profile_pic.html" import profile_pic %}

{# Person #}
<li>
  <div class="d-flex flex-row justify-content-between align-items-center border rounded w-100 p-2">
    <div class="d-flex flex-row align-items-center gap-2">
      <a href="{{ url_for('usuario_blueprint.ver_perfil', username=amigo.username ) }}">
        {{profile_pic(
          user=amigo,
          class_profile="wh-32 amigo-lista-profile-icon main-avatar-img",
          class_not_profile = "wh-32 amigo-lista-profile-icon main-avatar-img"
        )}}
      </a>
      <p class="m-0">{{amigo.nombre}}</p>
    </div>
    <button type="button" class="btn btn-secondary"><a href="{{ url_for("usuario_blueprint.ver_perfil", username=amigo.username) }}" class="text-decoration-none text-white">{{_("Ver perfil")}}</a></button>
  </div>
</li>
