{#
Badge que muestra info breve de una persona
Contexto requerido
- User: User model instance
#}

{# Person #}

<div class="d-flex flex-row justify-content-between align-items-center border rounded w-100 p-2">
  <div class="d-flex flex-row align-items-center">
    <img id="sidebar-profile-icon" class="wh-32" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/person-circle.svg")}}" alt="icono de perfil">
    <p class="m-0">Daniel Berbesi</p>
  </div>
  <button type="button" class="btn btn-secondary"><a href="" class="text-decoration-none text-white">Ver perfil</a></button>
</div>
