<div class="d-flex flex-row justify-content-center mt-2">

    <img class="img-thumbnail img-responsive"
         src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/arrow-left-square-fill.svg')}}" 
         alt="icono flecha izquierda">

     {% for number in range(1,pagination_number+1) %}
          <span class="border rounded ms-1 me-1 ps-1 pe-1 bg-secondary bg-gradient text-white">
               {{number}}
          </span>
     {% endfor %}
    
    <img class="img-thumbnail"
         src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/arrow-right-square-fill.svg')}}" 
         alt="icono flecha derecha">
</div>