{# Requiere como contexto las constantes 
  - PeticionEvento
#}


{% macro peticion_form(redirect_url,peticion_id) -%}

{% set form_url = url_for("notificaciones_blueprint.procesar_peticion_amistad")%}
<form action="{{form_url}}?redirect={{redirect_url}}" method="POST">
  <input type="hidden" name="peticion_id" value="{{peticion_id}}">
  <button type="submit" name="action" value="{{PeticionEvento.ACEPTAR.value}}" class="btn btn-success">
    {{_("Aceptar solicitud")}}
  </button>
</form>

<form action="{{form_url}}?redirect={{redirect_url}}" method="POST">
  <input type="hidden" name="peticion_id" value="{{ peticion_id }}">
  <button type="submit" name="action" value="{{PeticionEvento.RECHAZAR.value}}" class="btn btn-danger">
    {{_("Rechazar solicitud")}}
  </button>
</form>

{%- endmacro %}
