{# Renderizar la foto de perfil de un usuario #}

{% macro profile_pic(user, class_profile="", class_not_profile="", id_profile="", id_not_profile="") -%}

  {% set profile_pic = user.get_foto_url() %}

  {% if profile_pic %}
    <img id="{{ id_profile }}" class="{{class_profile}}" src="{{ profile_pic }}" alt="imagen de perfil">
  {% else %}
    <img id="{{ id_not_profile }}" class="{{ class_not_profile }}" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/person-circle.svg")}}" alt="icono de perfil">
  {% endif %}

{%- endmacro %}
