{#
Componente sidebar

Contexto requerido
  - usuario: User
  - lista_amigos: QuerySet<User>
#}

{% from "components/profile_pic.html" import profile_pic %}

{# Version no collapsado #}
<nav class="px-3 border-end border-dark collapse show" id="main-sidenav">
  <header id="sidebar-header" class="d-flex flex-row justify-content-between mt-2 mb-4">
    <a href="{{ url_for("mural_blueprint.index") }}" class="m-0 fs-4 text-decoration-none text-reset" id="sidebar-logo">ATI_SOCIAL</a>
    <button type="button" class="reset-button" data-bs-toggle="collapse" data-bs-target="#main-sidenav">
      <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/x-lg.svg")}}" alt="icono colapsar sidebar">
    </button>
  </header>

  <section id="sidebar-profile">
    <a href="{{ url_for('notificaciones_blueprint.index', page=1)}}" class="position-relative">
      <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/bell.svg")}}" class="sidebar-icon-size" alt="icono notificaciones">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
        <span>{{g.numero_notificaciones}}</span>
      </span>
    </a>

    <div id="sidebar-profile-info" class="d-flex flex-column justify-content-center align-items-center">
      {{ profile_pic(
          user=current_user,
          id_profile="sidebar-profile-pic",
          id_not_profile="sidebar-profile-icon",
      ) }}
      <p class="text-center">{{ current_user.nombre }}</p>
    </div>
    <a href="{{ url_for("usuario_blueprint.configuracion") }}">
      <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/gear.svg")}}" class="sidebar-icon-size" alt="icono configuracion">
    </a>
  </section>

  <section id="sidebar-call-to-actions" class="d-flex flex-row gap-2 justify-content-center">
    <a class="btn btn-secondary px-2" href="{{ url_for("user.logout") }}">{{ _("Cerrar Sesión") }}</a>
    <a class="btn btn-primary" href="{{ url_for("usuario_blueprint.ver_perfil", username=current_user.username)}}">{{_("Ver mi perfil") }}</a>
  </section>

  <section id="sidebar-friend-list-container">
    <p class="my-2 text-center">{{ _("Amigos") }}</p>
    <ul id="sidebar-friend-list" class="d-flex flex-column">
      {% if current_user.amigos %}
        {% for amigo in current_user.amigos %}
          {% include "components/mural/amigo-lista.html" %}
        {% endfor %}

        <div class="d-flex justify-content-center my-4">
          <a class="btn btn-primary" href="{{ url_for("usuario_blueprint.amigos", username=current_user.username) }}">{{ _("Ver todos mis amigos") }}</a>
        </div>
       {% else %}
         <li><p class="text-center">{{_("No tienes personas agregadas como amigos, ¡busca gente conocela!")}}</p></li>
      {% endif %}

    </ul>
    
  </section>

</nav>

{# Version collapsed #}
<nav class="flex-column" id="sidebar-collapsed">
  <button type="button" class="reset-button" data-bs-toggle="collapse" data-bs-target="#main-sidenav">
    <img id="expand-sidebar-icon" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/list.svg")}}" alt="icono expandir sidebar">
  </button>
</nav>
