{#
Componente sidebar

Contexto requerido
  - usuario: User
  - lista_amigos: QuerySet<User>
#}

{# Version no collapsado #}
<nav class="px-3 border-end border-dark collapse show" id="main-sidenav">
  <header id="sidebar-header" class="d-flex flex-row justify-content-between mt-2 mb-4">
    <h1 class="m-0 fs-4" id="sidebar-logo">ATI_SOCIAL</h1>
    <button type="button" class="reset-button" data-bs-toggle="collapse" data-bs-target="#main-sidenav">
      <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/x-lg.svg")}}" alt="icono colapsar sidebar">
    </button>
  </header>
  <section id="sidebar-profile">
    <a href="#" class="position-relative">
      <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/bell.svg")}}" class="sidebar-icon-size" alt="icono notificaciones">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
        <span>2</span>
      </span>
    </a>
    <div id="sidebar-profile-info" class="d-flex flex-column justify-content-center align-items-center">
      <img id="sidebar-profile-icon" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/person-circle.svg")}}" alt="icono de perfil">
      <p class="text-center">Diego Sánchez</p>
    </div>
    <a href="#">
      <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/gear.svg")}}" class="sidebar-icon-size" alt="icono configuracion">
    </a>
  </section>
  <section id="sidebar-call-to-actions" class="d-flex flex-row gap-2">
    <button type="button" class="btn btn-secondary px-2">Cerrar Sesión</button>
    <button type="button" class="btn btn-primary">Ver mi perfil</button>
  </section>

  <section id="sidebar-friend-list-container">
    <p class="my-2">Amigos</p>
    <ul id="sidebar-friend-list" class="d-flex flex-column">
      <li>
        {% include "components/mural/amigo-lista.html" %}
      </li>
      <li>
        {% include "components/mural/amigo-lista.html" %}
      </li>
    </ul>
  </section>
  <div class="d-flex justify-content-center my-4">
    <button type="button" class="btn btn-primary">Ver todos mis amigos</button>
  </div>
</nav>

{# Version collapsed #}
<nav class="flex-column" id="sidebar-collapsed">
  <button type="button" class="reset-button" data-bs-toggle="collapse" data-bs-target="#main-sidenav">
    <img id="expand-sidebar-icon" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/list.svg")}}" alt="icono expandir sidebar">
  </button>
</nav>
