.publicacion-profile-icon {
  width: 3em;
}

.thumbnail-img {
  max-width: 300px;
  max-height: 300px;
}

.w-button {
    width: 75% !important;
}

@include media-breakpoint-up(md) {
  .w-button {
    width: 25% !important;
  }
}

