{#
Lista de amigos
#}
<article class="friend-card d-flex flex-row gap-2 my-2 p-2 border rounded">
  <figure class="position-relative">
    <a href="{{ url_for('usuario_blueprint.ver_perfil') }}"><img class="amigo-lista-profile-icon main-avatar-img" src="{{ url_for('static', filename='img/iceberg.jpg' ) }}" alt="icono de perfil"></a>
    {# Icono de status online #}
    <span class="person-status-circle bg-success">
      <span class="visually-hidden">unread messages</span>
    </span>
  </figure>

  <section class="d-flex flex-column">
    <p>Aaron Morillo</p>
    <div class="d-flex flex-row gap-2">
      <a href="{{ url_for('chat_blueprint.index') }}"><button type="button" class="btn btn-dark">Chatear</button></a>
      <a class="btn btn-dark" href="{{ url_for("usuario_blueprint.ver_perfil") }}">Ver perfil</a>
    </div>
  </section>
  
</article>
