<div class="d-flex flex-column comment-section mb-2">

    <div class="bg-greysito p-2">

        {# Info perfil #}
        <div class="d-flex flex-row user-info">
            <img id="publicacion-profile-icon"
            class="publicacion-profile-icon border border-2 rounded-circle"
            src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person-circle.svg')}}" 
            alt="icono de perfil">

            <div class="d-flex flex-column justify-content-start ml-2">
                <span class="d-block font-weight-bold name"> {{comentario.usuario.nombre}} </span>
                <span class="text-black-50"> {{comentario.fecha}} </span>
            </div>
        </div>

        {# Texto comentario #}
        <div class="mt-2">
        <p class="comment-text">
            {{ comentario.contenido }}
        </p>
        </div>

        <button type="button" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#{{ respuesta_id }}">{{_("Responder")}}
        </button>
        
    </div>
</div>


{# Esto es una respuesta al comentario el id tiene que ser unico #}
<div class="collapse" id="{{ respuesta_id }}">
  {% include "components/mural/comentarioResponder.html" %}
</div>
