{% from "form_macros.html" import render_field %}

{# Comentario modo respuesta #}
<form action="{{ url_for('mural_blueprint.comentar_comentario', comentarioID=comentario.id)}}"
      method="POST">
<div class="bg-greysito p-2">
    <div class="d-flex flex-column align-items-start">
        {# Perfil icono #}
        <div class="d-flex flex-row gap-2">
          <img id="publicacion-profile-icon"
              class="publicacion-profile-icon"
              src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person-circle.svg')}}" 
              alt="icono de perfil">
          <div>
            <p class="m-0"> {{ current_user.nombre }} </p>
            <p> {{ _('Estas respondiendo al comentario de') }} {{ comentario.usuario.nombre }}</p>
          </div>
        </div>

        {# Area para comentar #}
        {{ render_field( form.contenido,
                         id="text-comment",
                         class="form-control ml-1 shadow-none textarea",
                         label_visible=false) }}

        <div class="d-flex flex-row gap-2 mt-2">
          <button id="comentar" 
                  name="comentar" 
                  class="btn btn-primary" 
                  type="submit">
            {{_("Responder")}}
          </button>
          <button class="btn btn-danger" onclick="collapseFunc('{{comentario.id}}')">
            {{_("Cancelar")}}
          </button>
        </div>
    </div>
</div>
</form>
