{# Comentario modo respuesta #}

<div class="bg-greysito p-2">
    <div class="d-flex flex-column align-items-start">
        {# Perfil icono #}
        <div class="d-flex flex-row gap-2">
          <img id="publicacion-profile-icon"
              class="publicacion-profile-icon"
              src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person-circle.svg')}}" 
              alt="icono de perfil">
          <div>
            <p class="m-0">Diego Sánchez</p>
            <p>Estas respondiendo al comentario de Cesar</p>
          </div>
        </div>

        {# Area para comentar #}
        <textarea id="text-comment" class="form-control ml-1 shadow-none textarea"></textarea>
        <div class="d-flex flex-row gap-2 mt-2">
          <button class="btn btn-primary">Responder</button>
          <button class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#{{ respuesta_id }}">Cancelar</button>
        </div>
    </div>
</div>
