{# Container gris #}
<div class="bg-greysito p-2">
    <div class="d-flex flex-row align-items-start">
        {# Perfil icono #}
        <img id="publicacion-profile-icon"
            class="publicacion-profile-icon border border-2 rounded-circle"
            src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person.svg')}}" 
            alt="icono de perfil">

        {# Area para comentar #}
        <textarea id="text-comment" class="form-control ml-1 shadow-none textarea"></textarea>
    </div>

    {# Botones #}
    <div class="mt-2 text-right">
        <button type="button" class="btn btn-dark">Comentar</button>
        <button type="button" class="btn btn-light border rounded">Cancelar</button>
    </div>

</div>