<div class="container border border-dark rounded pt-2 pb-2 mb-4">

    {# Name and picture #}
    <div class="d-flex flex-row">
        <img id="publicacion-profile-icon2"
            class="publicacion-profile-icon border border-2 rounded-circle"
            src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person.svg')}}" 
            alt="icono de perfil">

        <span class="d-block font-weight-bold name publicacion-profile-name ms-1">
            {{publicacion.autor.nombre}}
        </span>
    </div>

    {# Date published #}
    <div class="row mt-3">
        <span class="text-black-50">{{_(Publicado)}} {{publicacion.fecha}} </span>
    </div>

    {# Content text #}
    <div class="row">
        <p>
            {{ publicacion.contenido }}
        </p>
    </div>

    {# Multimedia #}
    <div class="row mt-3">
      {% for img_url in publicacion.get_image_urls() %}
        <img src="{{img_url}}" alt="imagenes de la publicacion">
      {% endfor %}
    </div>

    {# Comments number #}
    <div class="row mt-3">

        <a href="#" class="link-dark fw-bold text-decoration-none">
            <p>{{_("Comentarios") }} {{publicacion.comentarios|length}} </p>
        </a>

    </div>

    {# Detalles publicacion #}
    {% if detalleButton%}
    <div class="row d-flex justify-content-center mt-3">

        <a href="{{ url_for('mural_blueprint.detalle_publicacion', publicacionID=publicacion.id) }}"
           class="btn btn-info w-25 d-flex justify-content-center ">
            {{_("Ver publicacion")}}
        </a>
        
    </div>
    {% endif %}
</div>
