{% from "components/profile_pic.html" import profile_pic %}
<div class="container border border-dark rounded pt-2 pb-2 mb-4">

    {# Name and picture #}
    <div class="d-flex flex-row">
        

          {{ profile_pic(
              user=publicacion.autor,
              id_profile="publicacion-profile-icon",
              id_not_profile="publicacion-profile-icon",
              class_not_profile="publicacion-profile-icon border border-2 rounded-circle",
          ) }}

        <span class="d-block font-weight-bold name publicacion-profile-name ms-1">
            {{publicacion.autor.nombre}}
        </span>
    </div>

    {# Date published #}
    <div class="row mt-3">
        <span class="text-black-50">{{_(Publicado)}} {{publicacion.fecha}} </span>
    </div>

    {# Content text #}
    <div class="row">
        <p>
            {{ publicacion.contenido }}
        </p>
    </div>

    {# Multimedia #}
    <div class="row mt-3 justify-content-center">
    {% for img_url in publicacion.get_image_urls() %}
      {% if img_url %}
          <img src="{{img_url}}" class="thumbnail-img" alt="imagenes de la publicacion {{publicacion.id}}">
      {% endif %}
    {% endfor %}
    </div>

    {# Comments number #}
    <div class="row mt-3">

        <a href="#" class="link-dark fw-bold text-decoration-none">
            <p>{{_("Comentarios") }} {{publicacion.comentarios|length}} </p>
        </a>

    </div>

    {# Detalles publicacion #}
    <div class="row d-flex flex-column flex-md-row align-content-center justify-content-center gap-3 mt-3">
        {% if detalleButton %}
        <a href="{{ url_for('mural_blueprint.detalle_publicacion', publicacionID=publicacion.id) }}"
           class="btn btn-info w-button d-flex justify-content-center me-3">
            {{_("Ver publicacion")}}
        </a>
        {% endif %}

        {% if publicacion.autor == current_user %}
          <a href="{{url_for("mural_blueprint.edit_publication", publicacionID=publicacion.id)}}"
           class="btn btn-primary w-button d-flex justify-content-center ">
            {{_("Editar publicacion")}}
        </a>
        {% endif %}
    </div>
</div>
