{% from "form_macros.html" import render_field %}
<form action="{{ url_for('mural_blueprint.resultados_busqueda') }}">
  <div class="input-group">

    <div class="form-group">
      {{ render_field( form.tipo_busqueda, label_visible=false, class="form-select") }}
    </div>

    
    {{ render_field( form.texto_busqueda,
                     label_visible=false,
                     class="form-control",
                     placeholder=_('Busca personas, ingresa un nombre') ) }}
   

    <div class="input-group-append">
      <button class="btn btn-light" type="button">
        <img src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/search.svg') }}" />
      </button>
    </div>

  </div>
</form>
