{% extends "mural_base.html" %}
{% from "components/notificaciones/notificacion.html" import render_notificacion with context %}
{% block body %}

{% from "components/pagination.html" import render_navigation%}

<section>
  {% for notificacion in notificaciones.items %}
    {{ render_notificacion(notificacion) }}
  {% else %}
    <p>Sin notificaciones</p>
  {% endfor %}
</section>


<div class="d-flex justify-content-center">
  {{ render_navigation(notificaciones, 'notificaciones_blueprint.index') }}
</div>
{% endblock body %}
