{% extends "mural_base.html" %}

{% block body %}

<div class="container mt-1 ps-3 pe-5 border rounded">

    
    {% with content="Daniel berbesi esta conectado" , conectado=true %}
    {% include 'components/notificaciones/notificacion.html' %}
    {% endwith %}

    
    {% with content="Cesar Salazar ha respondido tu comentario" , publicacion=true %}
    {% include 'components/notificaciones/notificacion.html' %}
    {% endwith %}

    
    {% with content="Cesar Salazar ha comentado tu publicacion" , publicacion=true %}
    {% include 'components/notificaciones/notificacion.html' %}
    {% endwith %}

    
    {% with content="Aaron Morillo te ha enviado un mensaje" , chat=true %}
    {% include 'components/notificaciones/notificacion.html' %}
    {% endwith %}

    <div class="row mt-2">
        {% include 'components/pagination.html' %}
    </div>

</div>

{% endblock body %}