/*
* Archivo que tiene clases que se utilizan comunmente
* Problemente este archivo se divida en más
*/

.reset-button {
  /* Resetea los estilos que tiene por defecto un boton */
  background: none;
  border: unset;
}

.wh-32{
  /* width y height de 32 px para iconos */
  width: 32px;
  height: 32px;
}
