{% extends "mural_base.html" %}
{% block body %}

  <main class="d-flex flex-column align-items-center justify-content-center mx-3">
    <h1 class="text-center my-2">Cambio de contraseña</h1>
    <section  class="border rounded-1 p-4">
      <form class="container" >
        <div class="row">
          <div class="col mb-3">
            <label for="antContraInput" class="form-label">Antigua Contraseña</label>
            <input type="password" class="form-control w-50" id="antContraInput" aria-describedby="antContraHelp">
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="nueContraInput" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control w-50" id="nueContraInput" aria-describedby="nueContraHelp">
          </div>
        </div>
        <div class="row">
          <div class="col mb-5">
            <label for="repContraInput" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control w-50" id="repContraInput" aria-describedby="repContraHelp">
          </div>
        </div>
        <div class="row pb-3">
          <div class="col d-flex justify-content-center">
            <button type="submit" class="btn bg-dark text-white px-4">Cancelar</button>
          </div>
          <div class="col d-flex justify-content-center">
            <button type="submit" class="btn bg-dark text-white px-4">Guardar Cambios</button>
          </div>
        </div>
      </form>
    </section>  
  </main>

{% endblock body %}
