{% extends "mural_base.html" %}

{% from "flask_user/_macros.html" import render_checkbox_field %}
{% from "form_macros.html" import render_field, render_field2, render_checkbox_field %}

{% block body %}

<main class="vh-100 d-flex flex-column mt-5 gap-5">
  <div class="d-flex flex-row border rounded-2 px-3 py-2 justify-content-between mx-4 align-items-center">
    <div class="d-flex pt-3">
      <p>{{_("¿Cambiar a un perfil privado?")}}</p>
    </div>
    <div class="d-flex ">
      {{render_checkbox_field(form.privateProfile)}}
    </div>
  </div>
  <div class="d-flex flex-row border rounded-2 px-3 py-2 justify-content-between mx-4 align-items-center">
    <div class="d-flex pt-3">
      <p>{{_("¿Publicaciones por defecto privadas?")}}</p>
    </div>
    <div class="d-flex ">
      {{render_checkbox_field(form.privatePublications)}}
    </div>
  </div>
</main>
{% endblock body %}
