{% extends "mural_base.html" %}
{% from "form_macros.html" import render_field %}
{% block body %}

  <main class="d-flex flex-column align-items-center justify-content-center mx-3">
    <h1 class="text-center my-2">{{_("Cambio de contraseña")}}</h1>
    {% include "components/flash_messages.html" %}
    <section id="main-edit-fields"class="border rounded-1 p-4 ">
      <form action="" method="POST" role="form" class="container">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="mb-3">
          {{ render_field(form.old_password, tabindex=10) }}
        </div>

        <div class="mb-3">
          {{ render_field(form.new_password, tabindex=20) }}
        </div>

        <div class="mb-3">
          {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
          {{ render_field(form.retype_password, tabindex=30) }}
          {% endif %}
        </div>
        <div class="row pb-3 gap-3">
          <div class="col d-flex justify-content-center">
            <button type="submit" class="btn bg-primary text-white px-4">{{_("Guardar Cambios")}}</button>
          </div>
          <div class="col d-flex justify-content-center">
            <a href={{url_for("mural_blueprint.index")}}" class="btn bg-danger text-white px-4" role="button">{{_("Cancelar")}}</a>
          </div>
        </div>
      </form>
    </section>
  </main>

{% endblock body %}
