{% extends "base.html" %}

{% from "flask_user/_macros.html" import render_checkbox_field %}
{% from "form_macros.html" import render_field %}

{% block base_body %}
  <main class="vh-100 d-flex flex-column align-items-center justify-content-center mx-4">
    <h1 class="text-center">{{_("Ingresa al sistema")}}</h1>
    {% include "components/flash_messages.html" %}
    <div class="d-flex flex-row justify-content-center">
      <section id="main-login-actions" class="border rounded-1 p-4">
      {# Formulario de ingreso #}
        <form method="POST" action="">

          {{ form.csrf_token }}
          {{ form.hidden_tag() }}

          <div class="mb-3">
            {{render_field(form.email)}}
          </div>
          <div class="mb-3">
            {{render_field(form.password)}}
          </div>
          <div class="d-flex flex-row justify-content-center">
            <button type="submit" class="btn btn-primary">{{_("Ingresar")}}</button>
          </div>

          <div class="d-flex flex-row justify-content-center mt-2">
            {% if user_manager.USER_ENABLE_REMEMBER_ME %}
              {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
            {% endif %}
          </div>
        </form>
        <section class="d-flex flex-row justify-content-center mt-4">
          <div class="container">
            <div class="row gy-3">
              <div class="col-md-6 d-flex flex-column align-items-center">
                <p>{{_("¿ No tienes cuenta ?")}}</p>
                <a class="d-block" href="{{ url_for("user.register") }}">{{_("Registrate")}}</a>
              </div>

              <div class="col-md-6 d-flex flex-column align-items-center">
                <p class="text-center">{{_("¿ Olvidaste tu contraseña ?")}}</p>
                <a class="d-block" href="{{ url_for("user.forgot_password") }}">{{_("Recuperar")}}</a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <section id="social-media-actions" class="my-4">
      <h2 class="text-center">{{_("Ingresa con tu cuenta de Twitter o Facebook")}}</h2>
      <div class="d-flex flex-row justify-content-center gap-4">
        <button type="button" class="btn btn-secondary">
          <div class="d-flex flex-row">
            <img class="me-2" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/twitter.svg")}}" alt="icono twitter">
            <div>Twitter</div>
          </div>
        </button>
        <a class="btn btn-secondary" href="{{ url_for("facebook.login")}}">
          <div class="d-flex flex-row">
            <img class="me-2" src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/facebook.svg")}}" alt="icono facebook">
            <div>Facebook</div>
          </div>
        </a>
      </div>
    </section>

  </main>
{% endblock base_body %}

