{% extends "mural_base.html" %}
{% block body %}


<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center m-3">
            <div class="profile-avatar m-2 d-flex flex-column">
                <img src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person-circle.svg') }}" class="avatar-img m-1" alt="Imagen del avatar">
                <h4 class="text-center m-1">Diego Sanchez</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center m-3">
            <ul class="interaction-list list-group list-group-horizontal-md">
                <li class="list-group-item"><a href="{{ url_for("usuario_blueprint.mis_amigos") }}"><button class="btn btn-info">{{_("Amigos:")}} 2</button></a></li>
                <li class="list-group-item">
                    <a href="{{ url_for("user.edit_user_profile") }}"><button class="btn btn-info" >{{_("Editar mi perfil") }}</button></a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center m-3">
            <table class="table">
                <tbody>
                  <tr>
                    <td>{{_("Email")}}</td>
                    <td>me@example.com</td>
                  </tr>
                  <tr>
                    <td>{{_("CI")}}</td>
                    <td>12345679</td>
                  </tr>
                  <tr>
                    <td>{{_("Fecha de nacimiento")}}</td>
                    <td>11/24/1993</td>
                  </tr>
                  <tr>
                    <td>{{_("Género")}}</td>
                    <td>masculino</td>
                  </tr>
                  <tr>
                    <td>{{_("Descripción personal")}}</td>
                    <td>Soy un estudiante de la escuela de computacion de la facultad de ciencias y me gusta mucho pintar.</td>
                  </tr>
                  <tr>
                    <td>{{_("Color favorito")}}</td>
                    <td>Azul</td>
                  </tr>
                  <tr>
                    <td>{{_("Videojuegos favoritos")}}</td>
                    <td>Angry Birds, Resident Evil y Spiderman</td>
                  </tr>
                  <tr>
                    <td>{{_("Lenguajes de programación que conoce")}}</td>
                    <td>JavaScript, Python, C y C++</td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center m-3">
            <div class="d-flex flex-row">
                <button id='show-button' class="btn btn-secondary m-2">{{_("Ver publicaciones")}}</button>
                <button id='hide-button' class="btn btn-secondary hidden m-2">{{_("Ocultar publicaciones")}}</button>
            </div>      
        </div>

        <div id="publication-list-container" class="d-flex justify-content-center m-3 hidden">
            <ul id="publication-list" class="list-group">
                <li class="list-group-item">
                    <div class="container border rounded pt-2 pb-2">

                        {# Name and picture #}
                        <div class="d-flex flex-row">
                            <img id="publicacion-profile-icon"
                                class="publicacion-profile-icon border border-2 rounded-circle"
                                src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person.svg')}}" 
                                alt="icono de perfil">
                    
                            <span class="d-block font-weight-bold name publicacion-profile-name">Diego Sanchez</span>
                        </div>
                    
                        {# Date published #}
                        <div class="row mt-3">
                            <span class="text-black-50"> {{_("Publicado")}} 20/06/2021 {{_("a las")}} 3:20pm</span>
                        </div>
                    
                        {# Content text #}
                        <div class="row">
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                                by the charas of pleasure of the moment, so blinded by desire, they cannot....
                            </p>
                        </div>
                    
                        {# Multimedia #}
                        <div class="row mt-3">
                            
                            <div class="col d-flex justify-content-center">
                                <img id="publicacion-image-icon"
                                class="w-50"
                                src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/image.svg')}}" 
                                alt="icono de imagen">
                            </div>
                            
                    
                            <div class="col d-flex justify-content-center border border-2 rounded">
                                <img id="publicacion-image-icon"
                                class="w-50"
                                src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/play-circle-fill.svg')}}" 
                                alt="icono de imagen">
                            </div>
                        </div>
                    
                        {# Comments number #}
                        <div class="row mt-3">
                    
                            <a href="#" class="link-dark"><p>10 {{_("Comentarios")}}</p></a>
                    
                        </div>
                    
                        {# Detalles publicacion #}
        
                        <div class="row d-flex justify-content-center mt-3">
                    
                            <a href="/mural/publicacion/detalle" class="btn btn-info w-25 d-flex justify-content-center ">
                                {{_("Ver publicacion")}}
                            </a>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock body %}