{% extends "base.html" %}

{% block base_body %}
  <main class="vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-center my-4">Recupera tu contraseña</h1>
    <div id="acciones-form" class="d-flex flex-column justify-content-center border rounded-1 p-4">
      <a class="text-decoration-none" href="{{ url_for("usuario_blueprint.index") }}">
        <figure class="d-flex flex-row gap-2">
          <img src="{{ url_for("static", filename="node_modules/bootstrap-icons/icons/arrow-left.svg") }}" alt="icono regresar atras">
          <figcaption>
            Regresar
          </figcaption>
        </figure>
      </a>
      <p>Recupera tu contraseña ingresando el email de tu cuenta.</p>
      <form action="{{ url_for("usuario_blueprint.recuperar_token") }}">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email *</label>
          <input type="email" required class="form-control" placeholder="tuemail@dominio.com" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="d-flex flex-row justify-content-center">
          <button type="submit" class="btn btn-primary px-4">Recuperar</button>
        </div>
      </form>
    </div>
  </main>
{% endblock base_body %}
