{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block base_body %}

  <main class="vh-100 d-flex flex-column align-items-center justify-content-center mx-4">

    <h1 class="text-center my-4">{{_("Reestablecer contraseña")}}</h1>
    {% include "components/flash_messages.html" %}
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ render_field(form.new_password, tabindex=10) }}
        </div>
        <div class="mb-3">
          {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
              {{ render_field(form.retype_password, tabindex=20) }}
          {% endif %}
        </div>
        <div class="d-flex flex-row justify-content-center mt-2">
          <button type="submit" class="btn btn-primary px-4">{{_("Cambiar contraseña") }}</button>
        </div>
    </form>

      <div class="d-flex flex-column justify-content-center mt-2">
        <p>¿ Te equivocaste ?</p>
        <a class="text-decoration-none" href="{{ url_for("user.login") }}">{{_("Volver al login") }}</a>
      </div>
  </main>
{% endblock base_body %}
