{% extends "mural_base.html" %}
{% from "components/peticion_form.html" import peticion_form with context %}
{% from "components/profile_pic.html" import profile_pic %}

{% block body %}


  <div class="container">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center m-3">
        <div class="profile-avatar m-2 d-flex flex-column">

          {{ profile_pic(
          user=target_user,
          class_profile="avatar-img m-1",
          class_not_profile="avatar-img m-1"
          )
          }}

          <h4 class="text-center m-1">{{target_user.nombre}}</h4>

          {% include "components/flash_messages.html" %}
        </div>
      </div>

      <div class="d-flex justify-content-center m-3">
        <ul class="interaction-list list-group list-group-horizontal-md">
          {% if it_is_the_current_user %}
            <!-- External user buttons -->
            <li class="list-group-item">
              <a href="{{ url_for('user.edit_user_profile') }}">
                <button class="btn btn-info" >{{_("Editar mi perfil") }}</button>
              </a>
              <a href="{{ url_for('mural_blueprint.create_publication') }}">
                <button class="btn btn-info" >{{_("Crear Publicacion") }}</button>
              </a>
            </li>
          {% else %}

            <li class="list-group-item d-flex justify-content-center">
              <div class="badge bg-secondary text-wrap text-center">
                {% if is_friend %}
                  {{_("Soys amigos")}}
                {% else %}
                  {{_("No soys amigos")}}
                {% endif %}
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-center">
              <button class="btn btn-info">{{ _("Amigos") }} {{target_user.amigos|length}}</button>
            </li>

            <li class="list-group-item d-flex justify-content-center">
              <a href="{{ url_for('chat_blueprint.index', username=current_user.username) }}">
                <button class="btn btn-primary">{{_("Chatear")}}</button>
              </a>
            </li>

            <li class="list-group-item d-flex justify-content-center">
              {% if is_friend %}

                <form action="" method="POST">
                  <button type="submit" name="action" value="BORRAR_AMIGO" class="btn btn-primary">
                    {{_("Eliminar Amistad")}}
                  </button>
                </form>

              {% else %}
                {% if peticion %}
                  {% if peticion.estado == PeticionEstado.ESPERA %}
                    {# Si soy la persona que acepta la solicitud de amistad #}
                    {% if peticion.receptor == current_user  %}

                      {{ peticion_form(
                        peticion_id=peticion.id,
                        redirect_url=url_for("usuario_blueprint.ver_perfil", username=target_user.username),
                      )}}

                    {% else %}

                      {# Si cree la solicitud de amistad #}
                      <div class="badge bg-secondary text-wrap text-center">
                        {{_("Solicitud de amistad enviada, esperando por aceptacion")}}
                      </div>

                    {% endif %}

                  {% endif %}
                {% else %}
                  <form action="" method="POST">
                    <button type="submit" name="action" value="SOLICITAR_AMISTAD" class="btn btn-primary">
                      {{_("Solicitar Amistad")}}
                    </button>
                  </form>
                {% endif %}
            </li>
          {% endif %}
        {% endif %}
        </ul>
      </div>

      <div class="d-flex justify-content-center m-3">
        <table class="table">
          <tbody>
            <tr>
              <td>{{_("Email")}}</td>
              <td>{{target_user.email}}</td>
            </tr>
            <tr>
              <td>{{_("CI")}}</td>
              <td>{{target_user.ci}}</td>
            </tr>
            <tr>
              <td>{{_("Fecha de nacimiento")}}</td>
              <td>{{target_user.fecha_nacimiento}}</td>
            </tr>
            <tr>
              <td>{{_("Género")}}</td>
              <td>{{target_user.get_genero_string()}}</td>
            </tr>
            <tr>
              <td>{{_("Descripción personal")}}</td>
              <td>{{target_user.descripcion|default(_("Sin descripcion"), true)}}</td>
            </tr>
            <tr>
              <td>{{_("Color favorito")}}</td>
              <td>{{target_user.color|default(_("Sin color"), true)}}</td>
            </tr>
            <tr>
              <td>{{_("Videojuegos favoritos")}}</td>
              <td>{{target_user.video_juegos|join(", ")|default(_("Sin video juegos"), true)}}</td>
            </tr>
            <tr>
              <td>{{_("Lenguajes de programación que conoce")}}</td>
              <td>{{target_user.lenguajes_programacion|join(", ")|default(_("Sin lenguajes de programación"), true)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center m-3">
        <a href="{{ url_for('usuario_blueprint.ver_publicaciones', username=target_user.username) }}"
           class="btn btn-secondary m-2">
            {{_("Ver publicaciones")}}
        </a>
      </div>        
    </div>
  </div>

{% endblock body %}
