{% extends "mural_base.html" %}
{% from "components/profile_pic.html" import profile_pic %}

{% block extrahead %}
<script defer src="{{ url_for('static', filename='js/perfil/perfil.js') }}"></script>
{% endblock extrahead %}

{% block body %}


<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center m-3">
            <div class="profile-avatar m-2 d-flex flex-column">
                
                {{ profile_pic(
                  user=target_user,
                  class_profile="avatar-img m-1",
                  class_not_profile="avatar-img m-1"
                  )
                }}

                <h4 class="text-center m-1">{{target_user.nombre}}</h4>

                {% include "components/flash_messages.html" %}
            </div>
        </div>
        <div class="d-flex justify-content-center m-3">
            <ul class="interaction-list list-group list-group-horizontal-md">
                {% if it_is_the_current_user %}
                    <!-- External user buttons -->
                    <li class="list-group-item">
                        <a href="{{ url_for('user.edit_user_profile') }}">
                            <button class="btn btn-info" >{{_("Editar mi perfil") }}</button>
                        </a>
                        <a href="{{ url_for('mural_blueprint.create_publication') }}">
                            <button class="btn btn-info" >{{_("Crear Publicacion") }}</button>
                        </a>
                    </li>
                {% else %}
                   <!--Current user buttons-->
                   <li class="list-group-item d-flex justify-content-center">
                     <div class="badge bg-secondary">
                       {% if is_friend %}
                         {{_("Soys amigos")}}
                       {% else %}
                         {{_("No soys amigos")}}
                       {% endif %}
                     </div>
                   </li>
                   <li class="list-group-item d-flex justify-content-center"><a href="{{url_for("usuario_blueprint.amigos", username=target_user.username)}}"><button class="btn btn-info">{{ _("Amigos") }} {{target_user.amigos|length}}</button></a></li>
                   <li class="list-group-item d-flex justify-content-center"><a href="{{ url_for("chat_blueprint.index") }}"><button class="btn btn-primary">{{_("Chatear")}}</button></a></li>
                   <li class="list-group-item d-flex justify-content-center">
                     <form action="" method="POST">
                       <button type="submit" name="action" value="BORRAR AMIGO" class="btn btn-primary">{{_("Eliminar Amistad")}}</button>
                     </form>
                   </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex justify-content-center m-3">
            <table class="table">
                <tbody>
                  <tr>
                    <td>{{_("Email")}}</td>
                    <td>{{target_user.email}}</td>
                  </tr>
                  <tr>
                    <td>{{_("CI")}}</td>
                    <td>{{target_user.ci}}</td>
                  </tr>
                  <tr>
                    <td>{{_("Fecha de nacimiento")}}</td>
                    <td>{{target_user.fecha_nacimiento}}</td>
                  </tr>
                  <tr>
                    <td>{{_("Género")}}</td>
                    <td>{{target_user.get_genero_string()}}</td>
                  </tr>
                  <tr>
                    <td>{{_("Descripción personal")}}</td>
                    <td>{{target_user.descripcion|default(_("Sin descripcion"), true)}}</td>
                  </tr>
                  <tr>
                    <td>{{_("Color favorito")}}</td>
                    <td>{{target_user.color|default(_("Sin color"), true)}}</td>
                  </tr>
                  <tr>
                    <td>{{_("Videojuegos favoritos")}}</td>
                    <td>{{target_user.video_juegos|join(", ")|default(_("Sin video juegos"), true)}}</td>
                  </tr>
                  <tr>
                    <td>{{_("Lenguajes de programación que conoce")}}</td>
                    <td>{{target_user.lenguajes_programacion|join(", ")|default(_("Sin lenguajes de programación"), true)}}</td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center m-3">
            <div class="d-flex flex-row">
                <button id='show-button' class="btn btn-secondary m-2">{{_("Ver publicaciones")}}</button>
                <button id='hide-button' class="btn btn-secondary hidden m-2">{{_("Ocultar publicaciones")}}</button>
            </div>      
        </div>

        <div id="publication-list-container" class="d-flex justify-content-center m-3 hidden">
            <ul id="publication-list" class="list-group">
                <li class="list-group-item">
                    <div class="container border rounded pt-2 pb-2">

                        {# Name and picture #}
                        <div class="d-flex flex-row">
                            <img id="publicacion-profile-icon"
                                class="publicacion-profile-icon border border-2 rounded-circle"
                                src="{{ url_for('static', filename='img/iceberg.jpg' )}}" 
                                alt="icono de perfil">
                    
                            <span class="d-block font-weight-bold name publicacion-profile-name">Aaron Morillo</span>
                        </div>
                    
                        {# Date published #}
                        <div class="row mt-3">
                            <span class="text-black-50"> {{_("Publicado")}} 18/06/2021 {{_("a las")}} 1:12pm</span>
                        </div>
                    
                        {# Content text #}
                        <div class="row">
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                                by the charas of pleasure of the moment, so blinded by desire, they cannot....
                            </p>
                        </div>
                    
                        {# Multimedia #}
                        <div class="row mt-3">
                            
                            <div class="col d-flex justify-content-center">
                                <img id="publicacion-image-icon"
                                class="w-50"
                                src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/image.svg')}}" 
                                alt="icono de imagen">
                            </div>
                            
                    
                            <div class="col d-flex justify-content-center border border-2 rounded">
                                <img id="publicacion-image-icon"
                                class="w-50"
                                src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/play-circle-fill.svg')}}" 
                                alt="icono de imagen">
                            </div>
                        </div>
                    
                        {# Comments number #}
                        <div class="row mt-3">
                    
                            <a href="#" class="link-dark"><p>10 {{_("Comentarios")}}</p></a>
                    
                        </div>
                    
                        {# Detalles publicacion #}
        
                        <div class="row d-flex justify-content-center mt-3">
                    
                            <a href="/mural/publicacion/detalle" class="btn btn-info w-25 d-flex justify-content-center ">
                                {{_("Ver publicacion")}}
                            </a>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock body %}
