{# Requiere como contexto las constantes 
  - TipoNotificaciones 
  - NotiEvento
#}

{% from "components/profile_pic.html" import profile_pic %}

{% macro render_notificacion(notificacion) -%}

<div class="border border-2 rounded mt-2">
  <div class="d-flex flex-row p-2 gap-2">
    
      {{ profile_pic(
          user=notificacion.emisor,
          class_profile="notificacion-profile-pic",
          id_not_profile="notificacion-profile-icon",
          class_not_profile="notificacion-profile-icon border border-2 rounded-circle align-self-center"
         )
      }}

    <p class="font-weight-bold name w-75 publicacion-profile-name m-0">
      {{ notificacion.emisor.nombre }}:
      {{ notificacion.descripcion }}
    </p>

    <div id="notificacion-actions" class="d-flex flex-row gap-2 justify-content-end w-25">
    {% set urlmap = notificacion.get_url() %}
    <a href="{{urlmap.url}}"
       class="btn btn-dark ms-auto align-self-center"
       role="button">{{urlmap.texto}}</a>
      
      <form action="" method="POST" class="d-flex flex-column justify-content-center">
        <input type="hidden" name="id_notificacion" value="{{ notificacion.id }}">
        <button name="action_event" value="{{ NotiEvento.LEER.value }}" class="btn btn-dark" type="submit">
          {{ _("Marcar como leida") }}
        </button>
      </form>

    </div>
  </div>
</div>
{%- endmacro %}
