{# Requiere como contexto la constante TipoNotificaciones #}
{% macro render_notificacion(notificacion) -%}

<div class="border border-2 rounded mt-2">
  <div class="d-flex flex-row p-2">

    <img id="notificacion-profile-icon"
         class="notificacion-profile-icon border border-2 rounded-circle align-self-center"
         src="{{ url_for('static', filename='node_modules/bootstrap-icons/icons/person-circle.svg')}}" 
         alt="icono de perfil">

    <span class="d-block font-weight-bold name publicacion-profile-name ms-1">
      {{ notificacion.descripcion }}
    </span>

    {% if notificacion.tipo == TipoNotificaciones.AMIGO_CONECTADO %}
    <a href="{{ url_for('usuario_blueprint.ver_perfil')}}" 
       class="btn btn-dark ms-auto align-self-center"
       role="button">{{_("Ver Perfil")}}</a>
    {% endif %}

    {% if notificacion.tipo == TipoNotificaciones.COMENTARIO %}
    <a href="{{ url_for('mural_blueprint.publicaciones')}}"
       class="btn btn-dark ms-auto align-self-center"
       role="button">{{_("Ver publicacion")}}</a>
    {% endif %}

    {% if notificacion.tipo == TipoNotificaciones.MENSAJE_CHAT %}
    <a href="{{ url_for('chat_blueprint.index')}}" 
       class="btn btn-dark ms-auto align-self-center"
       role="button">{{_("Ver chat")}}</a>
    {% endif %}

  </div>
</div>
{%- endmacro %}
