#lista-mensajes{
    list-style-type: none;
}
.message-input{
    border: none;
    outline: none !important;
    background-color: transparent;
}

.message-bar {
  bottom: 0;
  width: 80%;
  opacity: 0.9;
}
