.avatar-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.interaction-list .list-group-item{
    border: none;
}
.interaction-list .list-group-item .btn-info{
    color: white;
}
.hidden{
    display: none !important;
}