/* Con esto importamos todo bootstrap
PorHacer: customizar que cosas vamos a requerir
https://getbootstrap.com/docs/5.0/customize/sass/
 */
@import "bootstrap/scss/bootstrap";

.cuerpo-principal {
  display: grid;
  grid-template-columns: auto 1fr;
}
