{% extends "mural_base.html" %}
{% from "form_macros.html" import render_field %}


{% block body %}

<div class="container-fluid">
    <div class="row text-center">
        <h1> {{_("Crea una publicacion")}} </h1>
    </div>

    {% include "components/flash_messages.html" %}

    <form action="" method="POST" class="container-fluid" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            {{ render_field( form.contenido, rows="15", class="w-100" ) }}
        </div>

        <div class="row">
          {{ render_field(form.images) }}
        </div>

        <div class="row justify-content-between">

            {{ render_field( form.tipo_publicacion ) }}
        </div>

       <div class="row justify-content-center m-2">
            <button id="publicar" 
                    class="btn btn-primary m-2 w-25" 
                    type="submit">
                {{_("Publicar")}}
            </button>

            <a id="cancelar_publicar" 
               href="{{url_for("mural_blueprint.index",page=1)}}"
               class="btn btn-secondary m-2 w-25">
                {{_("Cancelar")}}
            </a>
        </div>

    </form>
    
</div>

{% endblock body %}
