{% extends "mural_base.html" %}

{% block body %}

<div class="container mt-1 ps-3 pe-5">
    <div class="row pt-1 pb-1 border">
      {% include "components/mural/searchBar.html" %}
    </div>

    <div class="row">
        {# Renderizar mensajes flash #}
        {% include "components/flash_messages.html" %}

        <h1 class="d-flex justify-content-center"> {{_("Publicaciones de Personas")}} </h1>

        {% for publicacion in publicaciones %}
          {% with publicacion = publicacion %}
            {% include "components/mural/publicacion.html" %}
          {% endwith %}
        {% endfor %}
    </div>

    <div class="row mt-1">
      {% with pagination_number = pagination_number %}
        {% include 'components/pagination.html' %}
      {% endwith %}
    </div>
</div>

{% endblock body %}
