{% extends "mural_base.html" %}

{% block body %}

<div class="container mt-1 ps-3 pe-5">
    {# Publicacion Detallada #}
    <div class="row pt-1 pb-1">
        {% include "components/mural/publicacion.html" %}
    </div>

    <div class="row">
        <p class="fw-bolder fs-5"> {{_("Realiza un Comentario")}} </p>
    </div>

    {# Escribir comentario  #}
    <div class="row mb-3">
        {% with comentario_responder=false %}
            {% include "components/mural/comentarioEscribir.html" %}
        {% endwith %}
    </div>

    {# Comentarios de la publicacion #}
    <div class="row">
      {% for comentario in publicacion.comentarios %}
          {% with comentario=comentario %}
            {% include "components/mural/comentario.html"%}
          {% endwith %}
      {% endfor %}
    </div>

    {# Boton para ver mas comentarios #}
    <div class="row mt-3">
        <button type="button" class="btn btn-dark">{{_("Ver mas comentarios")}}</button>
    </div>
</div>

{% endblock body %}

