{% extends "mural_base.html" %}

{% block body %}
<div class="container mt-1 ps-3 pe-5">
  <div class="row pt-1 pb-1 border">
    {% include "components/mural/searchBar.html" %}
  </div>

  <div>
      <h2 class="text-center">
        {% if filtered_users|length > 0 and search_query %}
          {{ _("Personas que se llaman %(nombre)s", nombre=search_query) }}
        {% else %}
          {{ _("Resultados de busqueda") }}
        {% endif %}
      </h2>
      {% for user in filtered_users %}

        {% with user=user %}
          {% include "components/badge-resultado.html" %}
        {% endwith %}
      {% else %}
        <p>
          {{ _("No se encontraron coincidencias con")}}
          <b>{{ search_query }}</b>,
          {{ _("busca de nuevo") }}
        </p>
      {% endfor %}
  </div>
</div>

{% endblock body %}
