<!doctype html>
<html>
  <head>
    {# Meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# ==== Archivos CSS y JS ==== #}
    {# Archivos requeridos por Bootstrap #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/raiz.css') }}"> {# Archivos CSS de bootstrap modificado #}
    {# Javascript de bootstrap #}
    <script defer src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {# Customized Scripts #}
    <script defer src="{{ url_for('static', filename='js/perfil/perfil.js') }}"></script>
    {% block extrahead %}
    {% endblock extrahead %}
  </head>
  <body>
    {% block base_body %}
    {% endblock base_body %}

    {% block extrascripts %}
    {% endblock extrascripts %}
  </body>
</html>
